/* New CSS */
/* New CSS THIS IS THE NEW CSS BACK TO BEFORE THE PROBLEM*/


#dispatcher-input-container {
	/* dispatcher-input */
	position: absolute;
	width: 507px;
	height: 546.31px;
	left: 250px;
	top: 72px;

	/* Bg */
	background: #446474;
	/* btn-dropshadow */

	box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
	border-radius: 12px;
}

#dispatcher-title {
	position: absolute;
    width: 330px;
    height: 108.45px;
	left: 89px;
	top: 24px;

	/* Header 1 */

	font-family: "Work Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 34px;
	line-height: 40px;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;

	/* base */

	color: #f5f5f5;
}

#dispatcher-input {
	/* input-callerInfo */

	position: absolute;
	width: 328.06px;
	height: 235.55px;
	left: 89.47px;
	top: 156.45px;
	background: #f5f5f5;
	border-radius: 12px;
}

#input-callerInfo {
	position: absolute;
	width: 290px;
	height: auto;
	left: 18.5px;
	top: 20.5px;

	/* Body */

	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 16.25px;
	line-height: 19px;
	letter-spacing: -0.02em;
	/* vertical-align: text-top; */
	border: 0px;
	background-color: #f5f5f5;
	color: #000000;
	word-wrap: break-word;
}

#btn-predict {
	position: absolute;
	width: 242px;
	height: 53px;
	left: 40px;
	top: 275px;

	background: #e75b5b;
	/* btn-dropshadow */

	box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
	border-radius: 14px;

	font-family: "Droid Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	/* identical to box height, or 114% */

	/* display: flex; */
	align-items: center;
	text-align: center;

	color: #f5f5f5;
}

#predict-container {
	position: absolute;
	width: 507px;
	height: 553px;
	left: 250px;
	top: 643px;

	/* Sub BG */

	background: #708a99;
	/* btn-dropshadow */

	box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
	border-radius: 12px;
}

#predict-outcome-container {
	box-sizing: border-box;

	position: absolute;
	width: 329px;
	height: 105px;
	left: 89px;
	top: 123px;

	background: #fff7af;
	border-radius: 12px;
}

#dispatcher-input-two {
	position: absolute;
	width: 328.06px;
	height: 181px;
	left: 90px;
	top: 252px;
	background-color: #f5f5f5;
	border-radius: 12px;
}

#reset {
	position: absolute;
	width: 242px;
	height: 53px;
	left: 132px;
	top: 460px;

	font-family: "Droid Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;

    color: #f5f5f5;
	background: #e75b5b;
	/* btn-dropshadow */

	box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
	border-radius: 14px;


}

textarea{
	resize: none;
}