<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
	<link
		href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans" />
	<title>Dispatcher ML</title>
</head>

<body>
	<div id="dispatcher-input-container">
		<div id="dispatcher-title">ACER's <br>Dispatcher Input
		</div>
		<div id="dispatcher-input">

			<form action="{{ url_for('index', ) }}" method="post" name="contactFrm">
				<textarea id="input-callerInfo" name="sentence-1" placeholder="Symptoms" rows="10"
					required=""></textarea>
				<input type="submit" value="Predict" name="Sumbit" id="btn-predict" />
			</form>

		</div>
	</div>

	<br><br>

	{% if result %}
	<div id="predict-container">
		<div id="dispatcher-title">Prediction Outcome</div>

		<div id="predict-outcome-container">
			<div id="input-callerInfo" style="background-color: #FFF7AF"> Predicted Symptoms: <br> 
				{{result["sim_msg"]}}
			</div>
		</div>

		<div id="dispatcher-input-two">
			<div id="input-callerInfo"> Log Entered: <br>
				{{result["sentence-1"]}}
			</div>
		</div>

		<button id="reset" onclick=" location.href='https://flask.apps.hackathon.tas.cnasg.net/' ;" ">Reset Form</button>
		</div>
		{% endif %}

		<a href=" https://pda-laravel-tagar-demo.apps.hackathon.tas.cnasg.net/"> PDA Demo</a>
		


		<script src=" https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
			</script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
				integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
				crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
				integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
				crossorigin="anonymous"></script>
</body>

</html>